body {
    font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, rgb(207, 94, 141), rgb(142, 80, 155));
}

h1 {
    font: 600 3.5em 'Bowlby One', cursive;
    color: rgba(46, 48, 47, 0.94);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
    font: 500 1em 'Bowlby One', cursive;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing:  0.01em;
}

h2 {
    font: 700 1em 'Bowlby One', cursive;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing:  0.15em;
}